
$background-color: #f5f8ff;
$primary-color: #111827;
$text-primary: #333333; // Dark gray for primary text
$text-secondary: #666666; // Medium gray for secondary text

$font-size-title: 3rem; // Title font size
$font-size-subtitle: 2.25rem; // Subtitle font size
$font-size-tagline: 1.5rem; // Tagline font size
$font-size-base: 1.125rem; // Base font size
