@use '../../../../styles/variables' as *;

.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $spacing-lg;
  margin: 0 auto;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg * 4;

  .project {
    display: flex;
    align-items: center;
    gap: $spacing-lg;
    width: 100%;

    //// Alternate layout for odd sections
    //&:nth-child(odd) {
    //  flex-direction: row-reverse;
    //
    //  .section-text {
    //    text-align: right;
    //    align-items: flex-end;
    //  }
    //}

    .project-img {
      flex: 1.5;
      display: flex;

      img {
        width: 100%;
        height: auto;
        max-height: 450px;
        object-position: top;
        border-radius: $border-radius-md;
      }
    }

    .project-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: $spacing-md;
      text-align: left;

      h4 {
        @include font-tagline;
        color: $text-primary;
        margin: 0;
      }

      p {
        @include font-base;
        color: $text-secondary;
        max-width: 600px;
      }
    }
  }

  // Responsive
  @media (max-width: $tablet-breakpoint) {

    .project {
        flex-direction: column;
        gap: $spacing-md;

        .project-img {
          width: 100%;
        }

        .project-info {
          align-items: flex-start;
          text-align: left;
        }

      //// Override odd layout for mobile
      //&:nth-child(odd) {
      //  flex-direction: column;
      //
      //  .section-text {
      //    align-items: flex-start;
      //    text-align: left;
      //  }
      //}
    }
  }
}